<% content_for :title do %>My Title<% end %>
<% content_for :description do %>My Description<% end %>

<h1>Suggestions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created by</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr>
        <td><%= link_to suggestion.title, suggestion_path(suggestion.id) %></td>
        <td><%= suggestion.description %></td>
        <td><%= link_to suggestion.user.name, user_path(suggestion.user.id) %></td>
        <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
        <td><%= link_to 'x', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suggestion', new_suggestion_path %>
